{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>User</p><br>
  <p><span>{{ g.user['username'] }}</span></p>
  <form method="post">
    <label for="opassword">Current password</label>
    <input type="password" name="opassword" id="opassword" required>
    <label for="npassword">New password</label>
    <input type="password" name="npassword" id="npassword" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}