<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='accStyle.css') }}">
        <title>TOASYX - My Account</title>
    </head>
    
    <body>
      <!--shinning card-->

        <div class="box">
           <h1><p><span>{{ g.user['username'] }}</span></p></h1>
         </div>
      <!--shinning card-->

        <div class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('myAccount.account') }}">My Account</a>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
            <a href="{{ url_for('myAccount.changePassword') }}">Change Password</a>
            <a href="{{ url_for('myAccount.changeUsername') }}">Change Username</a>
            <a href="{{ url_for('myAccount.changeSecurityQuestion') }}">Change Security Question</a>
            <a href="{{ url_for('maps.aboutus') }}">About Us</a>
        </div>
    </body>

</html>