{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Forgot Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="securityq">Security Question Answer</label>
    <input type="password" name="securityq" id="securityq" required>
    <input  class="loginButton" type="submit" value="Reset Password">
    <p><center><img src="{{ url_for('static', filename='1.png') }}"></center></p>
  </form>
{% endblock %}